.Rproj.user
.Rhistory
.RData
.Ruserdata
.data/
.videos/
.csv
.zip
.pdf
.csv.zip
*.csv
*.zip
*.pdf
.Rproj

data/calendar2015.csv.zip

data/calendar.csv.zip

data/calendar2017.csv.zip

data/reviews1.csv.zip

data/listings.csv.zip

data/reviews2.csv.zip

data/sampledreviews.csv.zip

data/calendar2016.csv.zip
  